<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SGA - PUC Minas</title>

    <link href="../css/bootstrap.css" rel="stylesheet">

    <link href="../css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">

    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="../js/vendor/bootstrap.js"></script>
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" style="height: 40px;"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;SGA - <small>Sistema de Gestão Acadêmica</small></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Atividades</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i> Calendário</a></li>
            <li><a href="#"><i class="fa fa-file"></i> Lançamento de Notas</a></li>
            <li><a href="#"><i class="fa fa-folder-open"></i> Conteúdo</a></li>
            <li><a href="blank-page.html"><i class="glyphicon glyphicon-transfer"></i> Recursos</a></li>
            <li><a href="bootstrap-grid.html"><i class="fa fa-envelope"></i> Mensagens</a></li>
            <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> Configurações</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Mais opções <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Opção</a></li>
                <li><a href="#">Opção</a></li>
                <li><a href="#">Opção</a></li>
                <li><a href="#">Opção</a></li>
              </ul>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Mensagens <span class="label label-info">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">3 Novas Mensagens</li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">José da Silva:</span>
                    <span class="message">Pergunta do alunos via mensagem...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 18:34</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">José da Silva:</span>
                    <span class="message">Pergunta do alunos via mensagem...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 18:34</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">José da Silva:</span>
                    <span class="message">Pergunta do alunos via mensagem...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 18:34</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Ver todas</a></li>
              </ul>
            </li>
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alertas <span class="label label-danger">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Atividade <span class="label label-default">Lembrete</span></a></li>
                <li><a href="#">Notas <span class="label label-danger">Importante</span></a></li>
                <li><a href="#">Recursos <span class="label label-success">Disponível</span></a></li>
                <li class="divider"></li>
                <li><a href="#">Ver Mais</a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Prf. Demonstração <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Meus dados</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Mensagens <span class="badge">3</span></a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Configurações</a></li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-power-off"></i> Sair</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Painel <small>Atividades Recentes</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Atividades</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Bem-vindo ao Sistema de Gestão Acadêmica!
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
        </div><!-- /.row -->

        <div class="row">
        </div><!-- /.row -->

        <div class="row">
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <script src="../js/vendor/raphael-min.js"></script>
    <script src="../js/vendor/morris-0.4.3.min.js"></script>
    <script src="../js/morris/chart-data-morris.js"></script>
    <script src="../js/tablesorter/jquery.tablesorter.js"></script>
    <script src="../js/tablesorter/tables.js"></script>
  </body>
</html>
