<html>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">

	<script src="../js/vendor/jquery.min.js"></script>
	<script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="../js/vendor/bootstrap.js"></script>
</head>
<body>
	<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4" style="margin-top: 60px;">
            <div class="alert alert-info alert-dismissable center">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Informe o número de matricula se senha para acessar o sistema.
			</div>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" method="GET" action="/home.html">
                <input type="text" class="form-control" placeholder="Matrícula" required autofocus>
                <input type="password" class="form-control" placeholder="Senha" required>
                <a href="home.html" class="btn btn-lg btn-primary btn-block">Acessar</a>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Lembrar me
                </label>
                <a href="#" class="pull-right need-help">Precisa de ajuda? </a><span class="clearfix"></span>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>